* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3';
  color: white;
}

html {
  font-size: 62.5%;
}

:root {
  --home-bg-color-a-light: rgba(163, 201, 255, 0.6);
  --home-bg-color-b-light: rgba(0, 79, 255, 0.8);
  --home-bg-color-dark: rgba(31, 148, 255, 0.6);
  --home-bg-color-b: rgba(31, 77, 255, 0.7);
  /* --about-bg-color-a:;
  --about-bg-color-b:;
  --projects-bg-color-a:;
  --projects-bg-color-b:;
  --contact-bg-color-a:;
  --contact-bg-color-b:; */
  --footer-bg-color: #01001a;
}

.screen {
  display: flex;
  height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-items: flex-end;
  position: fixed;
  width: 100%;
  height: 360px;
  background-color: transparent;

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 120px;

    button {
      width: 120px;
      background: none;
      border: 1px solid black;
      border-radius: 16px;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 900;
      color: black;
      cursor: pointer;
    }
  }
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, var(--home-bg-color-a-light), var(--home-bg-color-b-light)), url(bg-img-2.jpg);
  background-size: cover;
  padding: 220px;

  span {
    text-align: center;
    width: 800px;

    h1 {
      font-size: 6rem;
      color: black;
    }

    p {
      font-size: 2rem;
      color: black;
    }
  }

  img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
  }
}

#about {
  /* background: linear-gradient(to right, var(--about-bg-color-a), var(--about-bg-color-b)), url(bg-img-2.jpg); */
  background: linear-gradient(to right, var(--home-bg-color-a-light), var(--home-bg-color-b-light)), url(bg-img-2-2.jpg);
  background-size: cover;

}

#projects {
  background: linear-gradient(to right, var(--home-bg-color-a-light), var(--home-bg-color-b-light)), url(bg-img-2.jpg);
  background-size: cover;

}

#contact {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--home-bg-color-a-light), var(--home-bg-color-b-light)), url(bg-img-2-2.jpg);
  background-size: cover;
  
  font-size: 2.4rem;

  .container {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
  }

  .did-floating-label-content {
    position: relative;
    margin-bottom: 20px;
  }

  .did-floating-label {
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 11px;
    padding: 0 5px;
    background: rgb(7, 7, 53);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .did-floating-input {
    font-size: 12px;
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 20px;
    background: rgb(7, 7, 53);
    color: #ffffff;
    border: 1px solid #3D85D8;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
      outline: none;

      ~.did-floating-label {
        top: -8px;
        font-size: 13px;
      }
    }
  }

  .did-floating-input:not(:placeholder-shown)~.did-floating-label {
    top: -8px;
    font-size: 13px;
  }

  .did-floating-select:not([value=""]):valid~.did-floating-label {
    top: -8px;
    font-size: 13px;
  }

  .did-floating-select[value=""]:focus~.did-floating-label {
    top: 11px;
    font-size: 13px;
  }

  .message {
    height: 190px;
  }

  button {
    color: black;
  }
}

footer {
  height: 120px;
  background-color: var(--footer-bg-color);
}