* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3';
}

html {
  font-size: 62.5%;
}

:root {
  --main-bg-color-a: rgba(71, 184, 244, 0.6);
  --main-bg-color-b: rgba(26, 108, 249, 0.8);
  --font-color: #12181F;
  --font-color-hover: #0856af;
  --font-footer-color: #D0DCF2;
  --footer-bg-color: #12181F;
  --bg-label-form-color: #6AADF3;
}

.darkmode {
  --main-bg-color-a: rgba(1, 14, 20, 0.9);
  --main-bg-color-b: rgba(1, 29, 81, 0.9);
  --font-color: #dae2f2;
  --font-color-hover: #ffffff;
  --bg-label-form-color: #172941;
}

.screen {
  height: 100vh;
  color: var(--font-color);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  z-index: 10;

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 80px;

    button {
      width: 120px;
      background: none;
      border: none;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 3px;
      color: var(--font-color);
      cursor: pointer;
    }

    button:hover {
      color: var(--font-color-hover);
    }
  }
}

.buttonSwitch {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  right: 0;
  z-index: 10;
  margin: 80px 80px 0px 0px;
}

#theme-switch {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;

  svg {
    fill: var(--font-color);
  }

  svg:last-child {
    display: none;
  }
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background: linear-gradient(to right, var(--main-bg-color-a), var(--main-bg-color-b)), url(assets/bg-img-1.jpg) no-repeat center / cover;
  padding: 180px;

  span {
    text-align: left;
    width: 760px;

    h1 {
      font-size: 6rem;
    }

    p {
      font-size: 2rem;
    }
  }

  img {
    width: 340px;
    height: 340px;
    border-radius: 50%;
  }
}

#about {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;

  background: linear-gradient(to right, var(--main-bg-color-a), var(--main-bg-color-b)), url(assets/bg-img-2.jpg) no-repeat center / cover;
  padding: 220px;

  h2 {
    font-size: 3.8rem;
    letter-spacing: 2px;
  }

  p {
    font-size: 2rem;
  }

  .containerText {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: auto;
    max-width: 400px;
    text-align: left;
  }

  .containerSkills {
    display: block;
  }
}

#projects1,
#projects2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, var(--main-bg-color-a), var(--main-bg-color-b)), url(assets/bg-img-1.jpg) no-repeat center / cover;
  padding: 20px 200px 20px 200px;


  div {
    width: 500px;
    height: 300px;

    .imgAndIcon {
      display: flex;
      flex-direction: row;

      img {
        width: 500px;
        height: 300px;
      }

      span {
        display: flex;
        flex-direction: column-reverse;
      }
      svg {
        fill: var(--font-color);
      }
    }


    .divText {
      width: 500px;

      h3 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.6rem;
      }

      h4 {
        font-size: 2rem;
      }
    }
  }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, var(--main-bg-color-a), var(--main-bg-color-b)), url(assets/bg-img-2.jpg) no-repeat center / cover;
  padding: 60px 360px 60px 360px;
  font-size: 2.4rem;

  .textAndForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
  }

  .did-floating-label-content {
    position: relative;
    margin-bottom: 20px;
  }

  .did-floating-label {
    color: var(--font-color);
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    left: 15px;
    top: 11px;
    padding: 0 5px;
    background: transparent;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .did-floating-input {
    font-size: 14px;
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 20px;
    background: transparent;
    color: var(--font-color);
    border: 1px solid #3D85D8;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
      outline: none;


      ~.did-floating-label {
        top: -8px;
        font-size: 13px;
        background: var(--bg-label-form-color);
      }
    }
  }

  .did-floating-input:not(:placeholder-shown)~.did-floating-label {
    top: -8px;
    font-size: 14px;
    background: var(--bg-label-form-color);

  }

  .did-floating-select:not([value=""]):valid~.did-floating-label {
    top: -8px;
    font-size: 14px;
  }

  .did-floating-select[value=""]:focus~.did-floating-label {
    top: 11px;
    font-size: 14px;
  }

  .message {
    padding: 20px;
    height: 190px;
  }

  button {
    width: 120px;
    background: none;
    border: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--font-color);
    cursor: pointer;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #D0DCF2;
    background-color: #12181F;
    font-size: 1.6rem;

    span {
      position: absolute;
      right: 0;
      margin-right: 100px;
    }

    svg {
      fill: var(--font-footer-color);
    }
  }
}

@media(max-width: 800px) {

  .menu {
    position: absolute;

    .buttons {
      flex-direction: row;
      gap: 2px;
      margin: 35px 0px 0px 10px;

      #btnHome {
        display: none;
      }

      button {
        width: 100px;
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: var(--font-color);
        cursor: pointer;
      }
    }
  }

  .buttonSwitch {
    position: absolute;
    margin: 30px 20px 0px 0px;
  }

  #home {
    flex-direction: column;

    span {
      text-align: center;
      width: 300px;

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }

  #about {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;

    h2 {
      font-size: 1.8rem;
      letter-spacing: 2px;
    }

    p {
      font-size: 1.5rem;
    }

    .containerText {
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: auto;
      text-align: center;
    }

    .containerSkills {
      text-align: center;
      display: block;
    }
  }

  #projects1,
  #projects2 {
    padding: 10px 100px 10px 100px;
    align-items: flex-start;

    div {
      width: 300px;
      height: 200px;

      .imgAndIcon {

        img {
          width: 280px;
          height: 200px;
        }
  
        svg {
          width: 20px;
        }
      }

      .divText {
        width: 300px;

        h3 {
          font-size: 1.4rem;
        }

        p {
          font-size: 1.2rem;
        }

        h4 {
          font-size: 1.2rem;
        }
      }
    }
  }


  #contact {
    padding: 10px 30px 10px 30px;
    font-size: 2rem;

    .textAndForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .message {
      height: 190px;
    }

    button {
      font-size: 1.8rem;
    }

    footer {
      font-size: 1.4rem;

      span {
        margin-right: 10px;
      }
    }
  }
}